<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: antiquewhite;">
            <img src="../../../assets/pic1.jpg"
            onerror="this.onerror=null; this.src='../../assets/no-img.jpg';" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <p>The Art Institute of Chicago, founded in 1879, is one of the oldest and largest art museums in the
                    world. It is based in the Art Institute of Chicago Building in Chicago's Grant Park. Recognized for
                    its curatorial efforts and popularity among visitors, its collection, stewarded by 11 curatorial
                    departments, is encyclopedic, and includes works.</p>
                <h3>Bound Manuscript: The Miracles of Mary (Te'amire Maryam)</h3>
            </div>
        </div>
        <div class="carousel-item ">
            <img src="../../../assets/pic2.jpg"
            onerror="this.onerror=null; this.src='../../assets/no-img.jpg';" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <p>The Art Institute of Chicago, founded in 1879, is one of the oldest and largest art museums in the
                    world. It is based in the Art Institute of Chicago Building in Chicago's Grant Park. Recognized for
                    its curatorial efforts and popularity among visitors, its collection, stewarded by 11 curatorial
                    departments, is encyclopedic, and includes works.</p>
                <h3>Doctor Syntax Returned from His Tour, from The Tour of Doctor Syntax</h3>
            </div>
            <!--  -->
        </div>
        <div class="carousel-item">
            <img src="../../../assets/pic3.jpg"
            onerror="this.onerror=null; this.src='../../assets/no-img.jpg';" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <p>The Art Institute of Chicago, founded in 1879, is one of the oldest and largest art museums in the
                    world. It is based in the Art Institute of Chicago Building in Chicago's Grant Park. Recognized for
                    its curatorial efforts and popularity among visitors, its collection, stewarded by 11 curatorial
                    departments, is encyclopedic, and includes works</p>
                <h3>Untitled (Pair of Vases)</h3>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>