<div class="container">
    <div class="container text-center">
        <h1 class="mt-3"><strong>Art Institute of Chicago Artwork Search and Viewing Application
                Documentation
                Page</strong></h1>
        <p class="mt-3">This page will provide you with information on how to use the application and its
            features.</p>
    </div>
    <div class="card">
        <img src="../../../assets/about/home.png" class="card-img-top" />
        <div class="card-body">
            <h2 class="card-title">Getting Started</h2>
            <p class="card-text">Just go to the main page of the application to begin using it. has a carousel and a
                navigation bar with fields for "home," "favorites," "about," "collections,"
                Users can switch between pages by clicking on these fields.
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Search features</h2>
            <p class="card-text">You can use this search area to locate the information you're looking for or wish to
                see.You can look up information about artists, their names, or any other art-related terms.
            </p>
        </div>
        <img src="../../../assets/about/search.png" class="card-img-top" />
    </div>
    <div class="card">
        <img src="../../../assets/about/paginator.png" class="card-img-top w-50" />
        <div class="card-body">
            <h2 class="card-title">Pagination</h2>
            <p class="card-text">For large result sets, pagination will be implemented to ensure smooth user experience.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Collections Page</h2>
            <p class="card-text">This web page features a variety of artworks arranged in a grid style for convenient
                viewing. Every piece of art has an image, a title, and the name of the artist.</p>
        </div>
        <img src="../../../assets/about/collection.png" class="card-img-top w-100" />
    </div>
    <div class="mt-3 text-center">
        <h1 class="category-button">Artwork features</h1>
    </div>
    <div class="card">
        <img src="../../../assets/about/share.png" class="card-img-top w-50" />
        <div class="card-body">
            <h2 class="card-title">Share features</h2>
            <p class="card-text">You can use social media apps like Facebook, Twitter, LinkedIn, and others to share the
                details of an artwork with your friends by clicking on the share button found on that specific art card.
            </p>
        </div>

    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">More Details</h2>
            <p class="card-text">To get more details about artwork, here is the detailed page, which consists of the
                artist, medium, dimensions, date, credit line, category, description, publication history, and
                exhibition history of the artwork that you want to explore.
            </p>
        </div>
        <img src="../../../assets/about/details.png" class="card-img-top w-100" />
    </div>
    <div class="mt-3 text-center">
        <h1 class="category-button">Authenciation</h1>
    </div>
    <div class="card">
        <img src="../../../assets/about/register.png" class="card-img-top w-50" />
        <div class="card-body">
            <h2 class="card-title">Register page</h2>
            <p class="card-text">In order to create a new user account in my application, the registration process
                requires a unique username and email address and a strong password.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Login page</h2>
            <p class="card-text">In order to access their account in my application, the login process requires a
                registered username and password.</p>
        </div>
        <img src="../../../assets/about/login.png" class="card-img-top w-50" />
    </div>
    <div class="mt-3 text-center">
        <h1 class="category-button">Favorites feature</h1>
    </div>
    <div class="card">
        <img src="../../../assets/about/addFav.png" class="card-img-top w-50" />
        <div class="card-body">
            <h2 class="card-title">Favorites page</h2>
            <p class="card-text">Clicking on the artwork allows authorized users to favorite it.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Favorites Page</h2>
            <p class="card-text">All of the logged-in user's favorite artwork is available on this favorite page.
            </p>
        </div>
        <img src="../../../assets/about/favPage.png" class="card-img-top" />
    </div>
    <div class="mb-2">

    </div>
</div>