<!-- <div class="card h-100" >
  <img src="https://www.artic.edu/iiif/2/{{cardData.image_id}}/full/843,/0/default.jpg"
  onerror="this.onerror=null; this.src='../../assets/no-img.jpg';"
    style="height:300px ;object-fit:cover;" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{cardData.title}}
    </h4>
    <div class="d-flex justify-content-around">
    <i *ngIf="isfav==false" class="fa-regular fa-heart heart" (click)="onClick(cardData)"></i>
    <i *ngIf="isfav==true" class="fa-solid fa-heart heart" (click)="onClick(cardData)"></i>
    <i class="fa-solid fa-share share"></i>
    <i class="fa-solid fa-angles-right share" routerLink="details/{{cardData.id}}"></i>
  </div>
  </div>
</div> -->
<div class="card h-100" >
  <div class="card-image">
    <img src="https://www.artic.edu/iiif/2/{{cardData.image_id}}/full/843,/0/default.jpg"
      onerror="this.onerror=null; this.src='../../assets/no-img.jpg';"
      style="height:300px ;object-fit:cover;" class="card-img-top" alt="...">
    <div class='overlay'>
      <div class="icons">
        <i matTooltip="Fav" matTooltipPosition="above" *ngIf="isfav==false" class='far fa-heart fa-2x' (click)="onClick(cardData)"></i>
        <i matTooltip="Fav" matTooltipPosition="above" *ngIf="isfav==true" class='fa-solid fa-heart fa-2x my-icon-class' (click)="onClick(cardData)"></i>
        <i matTooltip="Share" matTooltipPosition="above" class='far fa-paper-plane fa-2x' (click)="openDialogForShare(cardData.id)"></i>
        <a [routerLink]="'details/' + cardData.id">
          <i matTooltip="More" matTooltipPosition="above" class='fas fa-angle-double-right fa-2x'></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{cardData.title}}</h4>
  </div>
</div>