<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" style="font-weight:bold ;" routerLink="">
      <div class="text-center">
      <!-- <i class="fa-solid fa-palette fa-xl"></i> -->
      <img src="https://api.artic.edu/docs/assets/logo.svg" style="background-color: white;">
      <!-- <p class="mt-1">Artwork</p> -->
    </div>
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" routerLink="">
            <div>
              <i class="fa-solid fa-home"style="font-size: 1.5rem;"></i>
            </div>
            <p class="d-none d-md-block d-lg-block">Home</p>
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/about">
            <div>
              <i class="fa-solid fa-circle-info" style="font-size: 1.5rem;"></i>
            </div>
            <p class="d-none d-md-block d-lg-block">About</p>
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="gallery">
            <div>
              <i class="fa-solid fa-photo-film" style="font-size: 1.5rem;"></i>
            </div>
            <p class="d-none d-md-block d-lg-block">Collections</p>
          </a>
        </li>

      </ul>
      <!-- Left links -->

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/fav">
            <div>
              <i class="fa-regular fa-heart" style="font-size: 1.5rem;"></i>
              <!-- <i class="fa-solid fa-photo-film" style="font-size: 1.5rem;"></i> -->
              <span *ngIf="this.userService.currentUser?.favList?.length!=0" class="badge rounded-pill badge-notification bg-danger">{{this.userService.currentUser?.favList?.length}}</span>
            </div>
            <p class="d-none d-md-block d-lg-block">Favorites</p>
          </a>
        </li>
        <!-- <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="">
            <div>
              <i class="fas fa-bell" style="font-size: 1.5rem;"></i>
              <span class="badge rounded-pill badge-notification bg-info">0</span>
            </div>
            <p class="d-none d-md-block d-lg-block">Notification</p>
          </a>
        </li> -->
        <li *ngIf="this.userService.currentUser==null" class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/signin">
            <div>
              <i class="fa-solid fa-circle-user" style="font-size: 1.5rem;"></i>
            </div>
            <p class="d-none d-md-block d-lg-block">Login</p>
          </a>
        </li>
        <li *ngIf="this.userService.currentUser==null" class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/signup">
            <div>
              <i class="fa-solid fa-user"style="font-size: 1.5rem;"></i>
            </div>
            <p class="d-none d-md-block d-lg-block">signin</p>
          </a>
        </li>
        <li *ngIf="this.userService.currentUser!=null" class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" (click)="logout()">
            <div>
              <i class="fa-solid fa-circle-user" style="font-size: 1.5rem;"></i>
            </div>
            <p class="d-none d-md-block d-lg-block">logout</p>
          </a>
        </li>
      </ul>
      <!-- Right links -->

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>