<!-- <img src="https://www.artic.edu/iiif/2/{{artworks.image_id}}/full/843,/0/default.jpg"
  onerror="this.onerror=null; this.src='../../assets/no-img.jpg';"
    style="height:300px ;object-fit:cover;" class="card-img-top" alt="..."> -->
<!-- <p>{{artworks.id}}</p> -->
<div class="container bg-container">
  <div class="container">
    <img src="https://www.artic.edu/iiif/2/{{artworks.image_id}}/full/843,/0/default.jpg"
      style="width:100%; height: 500px; object-fit: fill;"
      onerror="this.onerror=null; this.src='../../../assets/no-img.jpg';" 
      />
  </div>
  <div class="container header">
    <h1 class="text-center">{{ artworks.title }}</h1>
  </div>
  <div class="container meta-data">
    <p><strong>Artist:</strong> {{ artworks.artist_display }}</p>
    <p><strong>Medium:</strong> {{ artworks.medium_display }}</p>
    <p><strong>Dimensions:</strong> {{ artworks.dimensions }}</p>
    <p><strong>Date:</strong> {{ artworks.date_display }}</p>
    <p><strong>Credit Line:</strong> {{ artworks.credit_line }}</p>
    <div class="category">
      <p class="category-label"><strong>Category:</strong></p>
      <div class="category-container">
        <p class="category-button">Painting</p>
        <p class="category-button">Sculpture</p>
        <p class="category-button">Photography</p>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5">
            <strong>Description</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ artworks.description }}</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5">
            <strong>Publication history</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="artworks.publication_history==null">no data</p>
        <p *ngIf="artworks.publication_history!=null">{{ artworks.publication_history }}</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5">
            <strong>Exhibition history</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="artworks.exhibition_history==null">no data</p>
        <p *ngIf="artworks.exhibition_history!=null">{{ artworks.exhibition_history }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>